/* Header Nav Bar Links */
.nav-link{
  color:white !important;
  padding: 10px !important;
}

#aboutUsCards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.card-img-top{
  width: fit-content;
  height: fit-content;
}

.navbar-brand{
  
}

.gameCards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}