body{
  background: rgb(17,106,12);
  background: linear-gradient(0deg, rgba(17,106,12,1) 19%, rgba(9,22,121,1) 47%, rgba(147,0,255,1) 80%); 
  font-family: 'Press Start 2P', cursive;
}

#userName{
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  color:white;
}

#userEmail{
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  color:white;
}

.userPicture{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/** Card title for about us*/
.h5{
  text-decoration: underline;
}

/** Login and out buttons */
.loginButton{
  font-family: 'Press Start 2P', cursive;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position:relative;
  top: 500px;
}
.introPic{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10%;
}
.logoutButton{
  font-family: 'Press Start 2P', cursive;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/** Header Nav Bar Links */
.nav-link{
  color:white !important;
  padding: 10px !important;
  font-family: 'Press Start 2P', cursive;

}
/** about us cards**/
#aboutUsCards{
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: space-evenly !important;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
}


/** design for cards on user page and public page **/
.gameCards{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
  text-align: center;
  padding: 5px;
  font-family: 'Press Start 2P', cursive;
}

/** genre in game cards */
.list-group-item{
text-align: center;
}
/** game card buttons*/
/** GAME CARD BUTTON STYLING IS BEING DONE INLINE FOR POSITIONING*/
.btn-success{
  padding: 5px 15px !important;
  font-size: 18px !important;
  text-align: center !important;
  cursor: pointer !important;
  outline: none !important;
  color: #fff !important;
  background-color: #04AA6D !important;
  border: none !important;
  border-radius: 15px !important;
  box-shadow: 0 9px #999 !important;
}

.btn-success:hover{
  background-color: rgb(0, 252, 252) !important
}

.button-success:active {
  background-color: #3e8e41 !important;
  box-shadow: 0 5px #666 !important;
  transform: scale(0.85) !important;
}

.btn-info{
  font-size: 15px !important;
  text-align: center !important;
  cursor: pointer !important;
  outline: none !important;
  border: none !important;
  border-radius: 15px !important;
  box-shadow: 0 9px #999 !important;
}

.btn-danger{
  font-size: 15px !important;
  text-align: center !important;
  cursor: pointer !important;
  outline: none !important;
  border: none !important;
  border-radius: 15px !important;
  box-shadow: 0 9px #999 !important;
}

.card-link:link{
  text-decoration: none;

}


.card-link:hover{
  text-decoration: underline;
  color: purple;
  font-size: 125%;
}
.form-select{
  width: fit-content !important;
  display: block !important;
  margin: auto !important;
  font-family: 'Press Start 2P', cursive;
}