body{
  background: rgb(17,106,12);
  background: linear-gradient(0deg, rgba(17,106,12,1) 19%, rgba(9,22,121,1) 47%, rgba(147,0,255,1) 80%); 
}

/** Header Nav Bar Links */
.nav-link{
  color:white !important;
  padding: 10px !important;
}
/** about us cards**/
#aboutUsCards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
}
.card-img-top{
}

/** design for cards on user page and public page **/
.gameCards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px;
}

/** genre in game cards */
.list-group-item{
text-align: center;
}
/** game card buttons*/
/** GAME CARD BUTTON STYLING IS BEING DONE INLINE FOR POSITIONING*/
.btn-primary{

}

.form-select{
  width: fit-content !important;
  display: block !important;
  margin: auto !important;
}